@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #f8f9fa;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.cadastro-container {
    background-color: #1A1A1A;
}

.cadastro-header .cadastro-title {
    font-weight: bold;
    font-size: 2rem;
    color: #2E8B57;
}

span {
    font-weight: bold;
    color: #388E3C;
}

.cadastro-label {
    font-size: 1rem;
    color: #E0F7E7;
}

.cadastro-btn {
    color: white;
    background-color: #388E3C;
    border-color: #388E3C;
    border-radius: 0.5rem;
    font-weight: 500;
}

.cadastro-btn:hover::before {
    left: 0;
}
.cadastro-btn:hover {
    background-color: #1c381d; /* Cor do fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}


.cadastro-input {
    border-radius: 0.5rem;
    border: 2px solid #388E3C; /* Cor da borda */
}

.cadastro-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(17, 63, 76, 0.25); /* Sombra ao focar no input */
    border-color: #388E3C; /* Mantém a cor da borda ao focar */
}

.cadastro-link {
    color: #4CAF50; /* Escolha a cor que preferir */
    text-decoration: none; /* Remove o underline */
}

.cadastro-link:hover {
    color: white !important; /* Muda a cor quando o usuário passa o mouse */
}


/*SOME ADJUSTS*/
.cadastro-input::-webkit-calendar-picker-indicator {
    background-color: #78f373; /* Cor do indicador do calendário */
    border-radius: 5px;
    padding: 2px; /* Espaçamento interno do indicador */
}