@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    background-color: #1e1e1e; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #2b2b2b; /* Fundo do formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #113F4C; /* Cor da borda */
    border-radius: 4px;
    background-color: #3b3b3b; /* Cor de fundo do input */
    color: #ffffff; /* Cor do texto do input */
}
button {
    width: 100%;
    padding: 10px;
    background-color: #78f373; /* Cor do botão */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #66c261; /* Cor do botão ao passar o mouse */
}
.text-secondary {
    color: #78f373; /* Cor do texto secundário */
    margin-top: 10px;
    display: block;
}